<div class="card panel-product-card" role="button">
    <img class="card-img-top" src="{{pic}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
    </div>
</div>