<div class="container">
    <div class="col-sm-5 h-100 w-100 overflow-auto d-flex flex-column">
        <h5 class="card-title">Facture N°{{order.id}}</h5>
        {{> panelOrder order=order }}
    </div>
</div>
